<div
  class="relative py-4 lg:py-6 [&_h2]:my-0 mb-10 after:content-[''] after:absolute after:top-0 after:-left-4 after:h-full after:w-[calc(100%_+_2rem)] after:bg-neutral-300 dark:after:bg-[#24292e] after:-z-10"
>
  <slot />
</div>
